  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.label :email %>
          <br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.label :password %> <p><i>(leave blank if you don't want to change it)</i></p>
          <br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div>
          <%= f.label :password_confirmation %>
          <br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div>
          <%= f.label :current_password %> <p><i>(we need your current password to confirm your changes)</i></p>
          <br />
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
        <br>
        <div>
          <%= f.submit "Update", class: "btn btn-default" %>
        </div>
        <br>
        <div class="btn btn-default"><%= link_to "Go Back", :back %>
        </div>
      <% end %>
      <div class="pull-right">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default" %></p>
      </div>
