
  <div class="container-fluid">

    <h2>CREATE AN ACCOUNT</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div>
        <%= f.label :first_name %>
        <br>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>

      <div>
        <%= f.label :last_name %>
        <br>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div>
        <%= f.label :email %>
        <br />
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div>
        <%= f.label :password %>
        <br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      <br>
      <div>
        <%= f.submit "Sign up", class: "btn btn-default pull-right" %>
        <div class="btn btn-default account_submit">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>


