<div class="main_page_content">
  <h1 id="intro-text">What are you drinking tonight?</h1>
  <h3 id="intro-headline">The city's entire restaurant wine collection at your fingertips</h3>
  <br>
  
  <div class="form-group search-form">
    <%= form_tag wines_path, method: :get do %>
    <%= text_field_tag :search, params[:search], id: "search-form", placeholder: "Example: Burrowing Owl Merlot", class: "form-control  center-block", id: "search-form" %>
    <br>
      <%= button_tag "Search", name: nil, class: "btn btn-default btn-lg center-block", id: "main_search" %>
      
    <% end %>
  </div>
</div>
