

  <div class="container-fluid">

    <h2>LOGIN</h2>
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <div><%= f.submit "Sign in", class: "btn btn-default pull-right" %></div>
      <% end %>
      <br>
    <div class="center-block">
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>