<div class="container-fluid">

  <div id="restaurant-form" class="form-group col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name, autofocus: true %>
      <%= f.input :cuisine %>
      <%= f.input :address %>
      <div class="center-block form-inputs">
        <%= f.association :wines,
        collection: Wine.all,
        include_blank: true,
        input_html: { class: 'chosen-select' } %>
      </div>
      <%= f.label :profile_picture %>
      <%= f.file_field :avatar %> 
      <br>
       <p>Your photo will appear in search results. We recommend choosing an image with the name or logo of your restauraunt</p>

      <br>
        <%= f.submit "Save", class: "btn btn-default pull-right" %>
      </div>
    <% end %>   
  </div>
</div>

<script type="text/javascript">
  (function(){jQuery(function(){return $("#restaurant_wine_ids").chosen()})}).call(this);
</script> 
