<% @restaurants.each do |r| %>
  <tr>
    <td><%= link_to r.name, restaurant_path(r) %></td>
    <td><%= r.address %></td>
    <td><%= r.cuisine %></td>
  </tr>
<% end %>
      </table>
<div class="text-center">
  <%= will_paginate @restaurants, :page_links => false %>
</div>
    </div>
  </div>
