<div class="container-fluid restaurant_form">

  <h1> Crop Profile Picture</h1>
    <div class="col-lg-10"></div>
      <%= simple_form_for @restaurant do |f| %>
        <%= f.submit "Save", class: "btn btn-default pull-right" %>
        <%= link_to "Back", edit_restaurant_path(f), class: "btn btn-default, pull-right" %>
        <%= f.cropbox :avatar %>
        <%= f.crop_preview :avatar %>
      <% end %> 
    </div>       
</div>
