<div class="container-fluid restaurant_index">


  <div id="featured_restaurants" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  <h2>FEATURED RESTAURANTS</h2>
      <%= link_to (image_tag("http://elitedraperies.ca/wp-content/uploads/2013/08/hys-steakhouse-ottawa-logo.jpg", class: "center-block fr", width: "100%")), "#" %>
      <br>
        <%= link_to (image_tag("http://www.nuba.ca/wp-content/uploads/2012/11/nuba_gastwown_header.jpg", class: "center-block fr", width: "100%")), "#" %>
      <br>
        <%= link_to (image_tag("http://carileee.files.wordpress.com/2011/09/img_5177.jpg", class: "center-block fr", width: "100%")), "#" %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
    <div class="panel-body">
      <h5 class="pull-right">Are you a restaurant owner?</h5>
        <br>
        <br>
        <p><%= link_to "Create Restaurant Profile", new_restaurant_path, class: "btn btn-default pull-right restaurant-profile-button" %></p>
    </div>


      <table class="table">
        <tr>
          <th><%= sortable "name" %></th>
          <th><%= sortable "address" %></th>
          <th><%= sortable "cuisine" %></th>
        </tr>
          <%= render partial: "page", locals: {r: @restaurant} %>
  </div>
</div>
