<% if @restaurant.errors.any? %>
  
  <div class="error-messages">
    <h2><%=pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved: </h2>
    
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  
  </div>
<% end %>

<%= render "form" %>




