<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li><a><%= link_to "Restaurants", restaurants_path %></a></li>
  <li class="active"> <%= "#{@restaurant.name}" %></li>
</ol>


<div class="locations_page">

  <div class="container-fluid">

    <h1>
      <!-- Go to www.addthis.com/dashboard to customize your tools -->
      <div class="addthis_sharing_toolbox pull-right"><a href="http://www.opentable.com"><%= image_tag("OpenTable.jpg", width: "105", height: "50") %></a></div>

      <% if @restaurant.avatar.present? %>
          <%= image_tag @restaurant.avatar.url(:medium), id: "avatar"%>
          <%= "#{@restaurant.name}" %>
      <% else %>
          <%= "#{@restaurant.name}" %>
      <% end %>   
    </h1>



    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <table class="table table-responsive">
        <h2 class="restaurant_wine_listing"></h2>
        <tr>
          <th> Name </th>
          <th> Origin </th>
          <th> Type </th>
        </tr>
        <% @restaurant.wines.each do |w| %>
        <tr>
          <td><%= w.name %></td>
          <td><%= w.origin %></td>
          <td><%= w.kind %></td>
        </tr>
        <% end %>
      </table>
    </div>
 

    <div class="resto_profile resto_profile_well well col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
        <p>
        
          <td>
            <% if current_user == @restaurant.user %>
              <%= link_to "Delete", restaurant_path, method: :delete, class: "btn btn-default pull-right" %>
              <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "btn btn-default pull-right" %>
            <% end %>
          </td>
        </p>
        <h6 class="resto_profile">
          <td><i class="fa fa-map-marker"></i> <%= "#{@restaurant.address}" %>
        </h6> 
        <h6 class="resto_profile">
          <td><i class="fa fa-cutlery"></i> <%= @restaurant.cuisine %></td>
        </h6>
      <div class:"center-block">
        <div id="map" style='width: 100%; height: 300px;'></div>
      </div>
      <br>
      <h2>Nearby Restaurants</h2>
      <div class="nearby_restos">
        <ul>
          <% for restaurant in @restaurant.nearbys(6) %>
          <div>
            <li><%= restaurant.name %> | <%= link_to restaurant.address, restaurant %></li>
          </div>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="well well col-xs-12 col-sm-12 col-md-8 col-lg-8" id="missing_wine_form">
      <h6>Are we missing something?  Let us know here</h6>
      <%= form_for [@restaurant, @wine] do |w| %>
        <div>
          <%= w.label :name %><br>
          <%= w.text_field :name, class: "form-control", placeholder: "Example: Chateau Montelena Estate Cabernet Sauvignon" %>
        </div>
        <div>
          <%= w.label :kind %><br>
          <%= w.text_field :kind, class: "form-control", placeholder: "Is it Red, White, Rose, or Champs?" %>
        </div>
        <div>
          <%= w.label :origin %><br>
          <%= w.text_field :origin, class: "form-control", placeholder: "Example: Napa Valley, USA" %>
        </div>
        <div>
          <%= w.label :serving_type %><br>
          <%= w.text_field :serving_type, class: "form-control", placeholder: "Is it offered as a glass, half bottle, or bottle?" %>
        </div>
        <br>
        <div>
          <%= w.submit "Save", class: "btn btn-default pull-right" %>
        </div>
        <br>
        <br>
      <% end %>
    </div>
    
  </div>
</div>

</section>

  <script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13)
  });
  </script>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53af382b4ee31991"></script>


