/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= requre jquery.jcrop
 *= require chosen
 *= require_tree .
 */

/* Main Section */

#background-image {
  height: 100%;
  background-image: url("../img/61875-blurred-mid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Misc */

.well {
  background-color: #5C0021;
  border-color: #5C0021;
  opacity: .8;
  border-radius: -10px;
} 

.table {
  background-color: black
}

.panel {
  background-color: #424040;
}

i {
  padding-right: 10px;
}

a:hover {
  color: white;
}