/* Button Styless */
.btn-default {
  color: white;
  border: 1px solid white;
  background: transparent;
  opacity: 1;
}
.btn-default:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
  opacity: .7;
}