/* Logo Styles */

.navbar-default .navbar-brand {
  font-family: 'Passion One', cursive;  
  color: white;
  opacity: 1;
  letter-spacing: -2px;
  font-size: 82px;

}

span {
  color: #b11c53;
  opacity: .9;
}

tr, td a {
  color: white;
}

/* Font Styles */

body {
  font-family: 'Open Sans', sans-serif;
  color: #140016;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color:white ;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 44px;
  letter-spacing: -2px;
  opacity: .9;

}

h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 32px;
  letter-spacing: -2px;
  opacity: .9;

}

h3 {
  font-family: 'Lato', sans-serif;
  color: #B55436;
  font-size: 18px;
  opacity: .5;
  text-align: center;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;  
}

p {
  color: white
}

label {

  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
  color: #F5F5F5;
}


.navbar-default {
  .navbar-nav {
    li {
      a {
        font-family: 'Lato', sans-serif;
        color: white;
        opacity: 1; 
        font-size: 16px;   
      }
      :hover {
        opacity: .7 !important;
        color: white !important;
      }
    }
  }
}


.navbar-default {
  .navbar-brand:hover {
    color: #F5F5F5
  }
}


