// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_page_content {
  margin-top: 150px;
}

.search-form {
  position: absolute center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#search-form {
  border: 1px solid white;
}

#intro-text {
  text-align: center;
}

#intro-headline {
  font-size: 20px;
  color: #F5F5F5;
  opacity: .7
}

#main_search {
  opacity: 1;
}

#main_search:hover {
  opacity: .7;
  color: white;
  border: 1px solid white;
}


