// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.restaurant_index, .locations_page {
  background-color: black;
}

// .btn-default {
//   border: 1px solid #3B0015;
// }

// .btn-default:hover {
//   background-color: #9F2F56;
//   border: 1px solid #3B0015;
//   color: white;
// }

.restaurant-profile-button:hover {
  border: 1px solid white;
  color: white;
}

.restaurant_map {
  border: 5px solid white;
}

.breadcrumb, .breadcrumb .active {
  background-color: black;
  color: #b11c53

}

#map {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

.restaurant_wine_listing {
  padding: 5px;
}

// .nearby_restaurants_well {
//   background-color: #7E1339;
//   color: white;
//   font-weight: 600;
//   font-size: 14px;
// }


#featured_restaurants {
  margin-top: 40px;
}

.fr {
  border: 1px solid white;
}


.well-sm {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: white;
  opacity: none;
  margin-top: 3px;
}

.resto_profile {
  color: #F5F5F5;
  font-weight: 300;
}

// For Production

// .nearby_restos {
//   li {
//   color: #d1457e;
//   font-size: 16px;
//   }
//   a {
//   color: #b11c53;
//   letter-spacing: none;
//   }
// }

// For Demo
.nearby_restos {
  li {
  color: #DD77A0;
  font-size: 16px;
  }
  a {
  color: #EBA1BF;
  letter-spacing: none;
  }
}

.resto_profile_well {
  border: 1px solid;
  background-color: transparent;
  margin-top: 38px;
}

.resto_profile .btn {
  color: white;
  border: 1px solid white;
}

#missing_wine_form {
  background-color: #5C0021;
  border-color: #5C0021;
}

#missing_wine_form .btn:hover {
  color: white;
  border: 1px solid white;
}

#avatar {
  height: 100px;
  width: 100px;
}

.chosen-choices {
  border-radius: 4px !important;
  min-height: 40px;
  max-height: 100%;
}

.chosen-container {
  width: 100% !important;
}

#restaurant-avatar{
  color: white;
}

.restaurant_form {
  background-color: #1E000B;
    .btn-default:hover {
      color: white;
      border: 1px solid white;
  }
}

#restaurant_form {
  margin-bottom: 30px;
}

#avatar_crop_preview {
  
}