// Place all the styles related to the wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#restaurant_wine_ids {
  width: 400px;
}


.wine_index {
  background-color: black;
}

.wine_index_header {
  text-align: center;
}

.popular_wines_well {
  background-color: #9F2F56;
  border: 1px solid #9F2F56
}

.fw {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid white;
}

#search_results {
  img {
    // min-height: 100%;
    // max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    border: 1px solid #F5F5F5;
    opacity: .7;
    -webkit-transition :opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
  }

  img:hover {
    opacity: 1;
    border: none;

  }
}

// .search_results_background {
//   background:url('61875-blurred-dark.jpg') no-repeat center center fixed;

// }

.search_results {
  min-height: 720px;
}