<% @wines_search.each do |w| %>
  <tr>
    <td>
      <%= link_to "#{w.name}", restaurants_wine_path(w) %>
    </td>
    <td>
    <%= w.origin %>
    </td>
    <td>
      <%= w.kind %>
    </td>
  </tr>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @wines_search, :page_links => false %>
</div>
</div>
</div>