<div class="container-fluid wine_index">
  <div class="panel-body ">
    <h5 class="pull-right">Want to Add Wines to Your Restaurant?</h5>
      <br>
      <br>
      <p><%= link_to "Create Restaurant Profile", new_restaurant_path, class: "btn btn-default pull-right restaurant-profile-button" %></p>
  </div>

  <h1>WINE INDEX</h1>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <%= image_tag("kc.jpg", class: "center-block fw", width: "100%") %>
  </div>
  
  <div class="col-xs-6 col-sm-4 col-md-4">
    <%= image_tag("lynnfalconer.jpg", class: "center-block fw", width: "100%") %>
  </div>

  <div class="hidden-xs col-sm-4 col-md-4">
    <%= image_tag("burrowing-owl.jpg", class: "center-block fw", width: "100%") %>
  </div>

  <table class="table">
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "origin" %></th>
      <th><%= sortable "kind", "Type" %></th>
    </tr>
      <%= render partial: "paginate", locals: {object: @wines_search} %>

  </div>
</div>

<!-- <h2>Import Wines</h2> -->

<%#= form_tag import_wines_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#= submit_tag "Import" %>
<%# end %>
