<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li><a><%= link_to "Wines", wines_path %></a></li>
  <li class="active"><%= "#{@wine.name}" %></li>
</ol>


<div class="container-fluid search_results">

  <% @wine.restaurants.each do |restaurant| %>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
      <div id="search_results">
        <%= link_to image_tag(restaurant.avatar.url(:medium), class: "img-responsive"), restaurant_path(restaurant) %>  
      </div>
    </div>
  <% end %>
</div>


